
body {
    margin: 0;
    font-family: roboto, sans-serif;
}


/*all things header*/
.header {
    border: 2px solid;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    /*flex: 1;*/
}
/*.header_container {
    border: 2px solid;
    display: flex;
}*/
.logo {
    color: #F9FAF8;
    font-size: 24px;
}
.links {
    color: #E5E7EB;
    font-size: 18px;
    border: 2px solid;
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
}



/*all things hero*/
.hero {
    background-color: #1F2937;
    /*display: flex;*/
}
/*box 1*/
.hero_box1 { /*broken*/
    
}
.main_title {
   font-size: 48px;
    color: #F9FAF8; 
}
.subtext {

}
.title_button {

}
/*box 2*/
.hero_box2 {

}





.footer {
    background-color: #1F2937;
}